.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 10px;
}
.form-item {
  min-width: 300px;
  margin: auto;
}
